/* Styling the Body element i.e. Color,
Font, Alignment */
body {
    background-color: #ffffff;
    font-family: Verdana;
    text-align: center;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color: black;
  }

  .masthead {
    position: relative;
    width: 100%;
    min-height: 1rem;
    padding: 4rem 0;
    background-position: center;
  }

  .hr{
    height: 5px;
    background-color: black;
  }

.posicion{
    margin-top: 10px;
    float: left !important;
}

.text-center {
    text-align: center !important;
  }

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
#btnAceptar {
    background-color: #558985;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    margin: auto;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 20px;
}
